In [1]:
import json
import requests
import pandas as pd
import numpy as np

import sqlite3

In [2]:
conn = sqlite3.connect('us_data3.sqlite')
cnx = sqlite3.connect('final_dataset.sqlite')

us_data_df = pd.read_sql_query("SELECT * FROM department_contracts", conn)
zip_code_df = pd.read_sql_query("SELECT * FROM department_contracts", cnx)
zip_code_df = zip_code_df.drop('index', 1)
us_data_df = us_data_df.drop('index', 1)

us_data_df.head()

,Awarding_Agency,Category,POP_City,POP_State,POP_Zip,Recipient_Name,Subtier_Agency,Subtier_Code,Total_Obligation
0,Department of Transportation,contract,WASHINGTON,DISTRICT OF COLUMBIA,20591,EVANS INCORPORATED,Immediate Office of the Secretary of Transport...,6901,745068.00
1,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,520169.00
2,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,662420.00
3,Department of Transportation,contract,ORLANDO,FLORIDA,32822,"SIMCOM INTERNATIONAL, INC.",Federal Aviation Administration,6920,39520.00
4,Department of Transportation,contract,MOJAVE,CALIFORNIA,93501,NATIONAL TEST PILOT SCHOOL INC,Federal Aviation Administration,6920,29950.00

In [3]:
zip_code_df.head()

  POP_Zip   Latitude   Longitude
0   20591        NaN         NaN
1   21230  39.263517  -76.623942
2   32822  28.475041  -81.284917
3   93501  35.044030 -118.252662
4   11371  40.776639  -73.874250

In [4]:
merged_df = us_data_df.merge(zip_code_df, how='left', on='POP_Zip')
merged_df = merged_df[np.isfinite(merged_df['Latitude'])]
merged_df.head()

,Awarding_Agency,Category,POP_City,POP_State,POP_Zip,Recipient_Name,Subtier_Agency,Subtier_Code,Total_Obligation,Latitude,Longitude
1,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,520169.00,39.263517,-76.623942
2,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,662420.00,39.263517,-76.623942
3,Department of Transportation,contract,ORLANDO,FLORIDA,32822,"SIMCOM INTERNATIONAL, INC.",Federal Aviation Administration,6920,39520.00,28.475041,-81.284917
4,Department of Transportation,contract,MOJAVE,CALIFORNIA,93501,NATIONAL TEST PILOT SCHOOL INC,Federal Aviation Administration,6920,29950.00,35.044030,-118.252662
5,Department of Transportation,contract,FLUSHING,NEW YORK,11371,FLIGHTSAFETY INTERNATIONAL INC,Federal Aviation Administration,6920,59200.00,40.776639,-73.874250

In [5]:
# conn = sqlite3.connect('end_of_class.sqlite')

# merged_df.to_sql("department_contracts", conn, if_exists="replace")
# merged_df.to_csv('end_of_class.csv')

In [6]:
merged_df.describe()

           Latitude     Longitude
count  75091.000000  75091.000000
mean      39.619236    -99.643216
std        5.879195     18.511994
min       17.979620   -159.502289
25%       35.749077   -116.298790
50%       39.525400    -97.454363
75%       43.511298    -83.207764
max       64.982343     24.976198

In [11]:
merged_df.head()

,Awarding_Agency,Category,POP_City,POP_State,POP_Zip,Recipient_Name,Subtier_Agency,Subtier_Code,Total_Obligation,Latitude,Longitude
1,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,520169.00,39.263517,-76.623942
2,Department of Transportation,contract,BALTIMORE,MARYLAND,21230,MARYLAND MARITIME INC,Maritime Administration,6938,662420.00,39.263517,-76.623942
3,Department of Transportation,contract,ORLANDO,FLORIDA,32822,"SIMCOM INTERNATIONAL, INC.",Federal Aviation Administration,6920,39520.00,28.475041,-81.284917
4,Department of Transportation,contract,MOJAVE,CALIFORNIA,93501,NATIONAL TEST PILOT SCHOOL INC,Federal Aviation Administration,6920,29950.00,35.044030,-118.252662
5,Department of Transportation,contract,FLUSHING,NEW YORK,11371,FLIGHTSAFETY INTERNATIONAL INC,Federal Aviation Administration,6920,59200.00,40.776639,-73.874250

In [30]:
dot_df = merged_df.loc[merged_df['Awarding_Agency'] == 'Department of Transportation']
dot_df['Total_Obligation'] = dot_df['Total_Obligation'].apply(pd.to_numeric)
dot_df = dot_df.sort_values(by=['Total_Obligation'], ascending=False)
dot_df = dot_df.head(10)
dot_df

C:\Users\jdgon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Awarding_Agency,Category,POP_City,POP_State,POP_Zip,Recipient_Name,Subtier_Agency,Subtier_Code,Total_Obligation,Latitude,Longitude
13433,Department of Transportation,contract,ARLINGTON,VIRGINIA,22201,KIEWIT INFRASTRUCTURE CO.,Federal Highway Administration,6925,1.920000e+08,38.884513,-77.093858
270,Department of Transportation,contract,YELLOWSTONE NATIONAL PARK,WYOMING,82190,"H-K CONTRACTORS, INC.",Federal Highway Administration,6925,3.988048e+07,44.462085,-110.642441
55637,Department of Transportation,contract,GATLINBURG,TENNESSEE,37738,"APAC-ATLANTIC, INC.",Federal Highway Administration,6925,3.391816e+07,35.694415,-83.464355
55502,Department of Transportation,contract,PORT ANGELES,WASHINGTON,98362,"STRIDER CONSTRUCTION CO., INC.",Federal Highway Administration,6925,2.896741e+07,47.950659,-123.345607
61,Department of Transportation,contract,MARLBOROUGH,MASSACHUSETTS,01752,RAYTHEON COMPANY,Federal Aviation Administration,6920,2.576478e+07,42.347372,-71.536786
525,Department of Transportation,contract,MARLBOROUGH,MASSACHUSETTS,01752,RAYTHEON COMPANY,Federal Aviation Administration,6920,2.446597e+07,42.347372,-71.536786
55501,Department of Transportation,contract,HOOD RIVER,OREGON,97031,STELLAR J. CORPORATION,Federal Highway Administration,6925,2.197515e+07,45.629922,-121.616403
55437,Department of Transportation,contract,GUNNISON,COLORADO,81230,"OLDCASTLE SW GROUP, INC.",Federal Highway Administration,6925,1.882331e+07,38.508452,-106.817838
56909,Department of Transportation,contract,HOUMA,LOUISIANA,70363,"GULF ISLAND SHIPYARDS, LLC",Saint Lawrence Seaway Development Corporation,6947,1.813661e+07,29.532157,-90.696285
57006,Department of Transportation,contract,WASHINGTON,DISTRICT OF COLUMBIA,20010,DELL MARKETING L.P.,Federal Aviation Administration,6920,1.725300e+07,38.933905,-77.030539

In [33]:
doa_df = merged_df.loc[merged_df['Awarding_Agency'] == 'Department of Agriculture']
doa_df['Total_Obligation'] = doa_df['Total_Obligation'].apply(pd.to_numeric)
doa_df = doa_df.sort_values(by=['Total_Obligation'], ascending=False)
doa_df = doa_df.head(10)
doa_df

C:\Users\jdgon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Awarding_Agency,Category,POP_City,POP_State,POP_Zip,Recipient_Name,Subtier_Agency,Subtier_Code,Total_Obligation,Latitude,Longitude
31473,Department of Agriculture,contract,ATHENS,GEORGIA,30605,M. A. MORTENSON COMPANY,Agricultural Research Service,12H2,1.415300e+08,33.905207,-83.314802
6996,Department of Agriculture,contract,NEBRASKA CITY,NEBRASKA,68410,CARGILL MEAT SOLUTIONS CORPORATION,Agricultural Marketing Service,12K2,2.646360e+07,40.608183,-95.856486
26901,Department of Agriculture,contract,WASHINGTON,DISTRICT OF COLUMBIA,20001,MORTGAGE CONTRACTING SERVICES LLC,Rural Housing Service,12E3,2.099289e+07,38.912068,-77.019023
25377,Department of Agriculture,contract,FORT COLLINS,COLORADO,80526,"ASRC FEDERAL DATA SOLUTIONS, LLC",Office of the Chief Financial Officer,1205,2.070398e+07,40.529325,-105.137591
6955,Department of Agriculture,contract,ANACORTES,WASHINGTON,98221,TRIDENT SEAFOODS CORPORATION,Agricultural Marketing Service,12K2,1.975848e+07,48.501342,-122.640323
6245,Department of Agriculture,contract,WILLMAR,MINNESOTA,56201,"JENNIE-O TURKEY STORE, INC.",Agricultural Marketing Service,12K2,1.962550e+07,45.075429,-95.050921
26804,Department of Agriculture,contract,ALEXANDRIA,VIRGINIA,22302,"MATHEMATICA POLICY RESEARCH, INC.",Food and Nutrition Service,12F2,1.780008e+07,38.823132,-77.073715
4092,Department of Agriculture,contract,SAINT LOUIS,MISSOURI,63146,"BUNGE NORTH AMERICA, INC.",Farm Service Agency,12D2,1.681558e+07,38.688757,-90.464391
6839,Department of Agriculture,contract,NEW HOLLAND,PENNSYLVANIA,17557,"TYSON FOODS, INC.",Agricultural Marketing Service,12K2,1.410361e+07,40.107194,-76.097201
6157,Department of Agriculture,contract,SELMA,CALIFORNIA,93662,"LION RAISINS, INC.",Agricultural Marketing Service,12K2,1.256762e+07,36.544131,-119.626735

In [34]:
doi_df = merged_df.loc[merged_df['Awarding_Agency'] == 'Department of Interior']
doi_df['Total_Obligation'] = doi_df['Total_Obligation'].apply(pd.to_numeric)
doi_df = doi_df.sort_values(by=['Total_Obligation'], ascending=False)
doi_df = doi_df.head(10)
doi_df

Empty DataFrame
Columns: [Awarding_Agency, Category, POP_City, POP_State, POP_Zip, Recipient_Name, Subtier_Agency, Subtier_Code, Total_Obligation, Latitude, Longitude]
Index: []